[id^=image-gallery] {
	.image-preview,
	.image-list {
		width: 100%;
	}

	.image-preview {
		background-position: top center;
		background-size: contain;
		background-repeat: no-repeat;

		-ms-behavior: url(backgroundsize.min.htc);

        -webkit-transition: opacity .5s ease-in-out;
        -moz-transition: opacity .5s ease-in-out;
        -o-transition: opacity .5s ease-in-out;
        transition: opacity .5s ease-in-out;
    }

    .image-list {
        overflow-y: scroll;
        width: 53%;

        .image-box {
            height: 40%;
            margin: 2%;
            min-width: 240px;
            width: 40%;

            &.selected {
                border: 5px solid #222;
            }

            .image-thumbnail {
                background: red;
                border: none;
                height: 90%;
                width: 100%;
            }

            .image-description {
                color: #455ac5;
                display: inline-block;
                text-align: center;
                width: 100%;
            }
        }
    }

    .navigation-button {
        text-overflow: hidden;
        color: transparent;
        z-index: 10;
    }

    .navigation-button {
        cursor: pointer;
        display: block;
        position: absolute;
    }

    .navigation-button {
        height: 74px;
        margin-top: -37px;
        top: 50%;
        width: 74px;
    }

    [id^=btn-prev] {
        background: url('../images/image-gallery/gallery-prev.png') no-repeat transparent;
        left: 10px;
    }

    [id^=btn-next] {
        background: url('../images/image-gallery/gallery-next.png') no-repeat transparent;
        right: 10px;
    }

    .transparent {
        opacity: 0;
    }
}


.image-wrap {
    width: 100%;
    height: 100%;

    &>div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        opacity: 0;

		-webkit-transition: opacity .5s ease-in-out;
		-moz-transition: opacity .5s ease-in-out;
		-o-transition: opacity .5s ease-in-out;
		transition: opacity .5s ease-in-out;

        &.active {
            opacity: 1;
            z-index: 1;
        }

    }
}
