.lt-ie9 {
    .date-selector {
        min-width: 180px;
    }
}

.login-form,
.register-form {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;

    .float-left {
        float: left;
    }

    input,
    select {
        outline: none;
    }

    .float-right {
    	float: right;
    }

    .login-row,
    .register-row {
        clear: both;
        overflow: hidden;
    }

    button[type=submit] {
    	&[disabled] {
    		cursor: default;
    	}
    }

    label {
        cursor: default;

        &[for^=remember] {
            cursor: pointer;
        }
    }

    .dob {
        max-width: 10%;
        min-width: 40px;
    }

    .space-left-1 {
        margin-left: 1%;
    }

    .space-left-2 {
        margin-left: 2%;
    }

    .register-legal-terms {
        text-transform: uppercase;
    }
}
