<div id="image-gallery">
	<div class="image-wrap">
        <div class="image-preview"
            data-index="{{$index}}"
            ng-repeat="image in images"
            ng-style="{ 'background-image': 'url({{image.src}})' };"
            ng-class="{ 'active' : $index == $parent.selectedIndex, 'next' : $index == $parent.selectedIndex + 1, 'prev' : $index == $parent.selectedIndex - 1 }"
            ng-if="shouldRenderImage($index)"
            >
        </div>
    </div>

    <span id="btn-prev" ng-click="selectedIndex = selectedIndex == minIndex ? maxIndex : selectedIndex - 1" class="navigation-button"></span>
    <span id="btn-next" ng-click="selectedIndex = selectedIndex == maxIndex ? minIndex : selectedIndex + 1" class="navigation-button"></span>
</div>
