<form novalidate id="login-form-{{suffix}}" class="login-form" name="form" action="" method="post" ng-submit="login()">
	<div>
		<h3>Login</h3>
	</div>
	<div class="login-rows">
		<div class="login-row">
			<label class="float-left" for="email">Email Address</label>
			<input class="float-left" ng-model="email" ng-pattern="settings.EMAIL_REGEXP" name="email" id="email-{{suffix}}" type="email" value="" required>
		</div>
		<div class="login-row">
			<label class="float-left" for="password">Password</label>
			<input class="float-left" ng-model="password" id="password-{{suffix}}" name="password" type="password" value="" required>
		</div>
		<div class="login-row">
			<button type="submit" id="login-{{suffix}}" ng-disabled="form.$invalid || form.$pristine" class="button">LOGIN</button>
		</div>
	</div>
	<a href="{{forgotUrl}}" target="_blank" id="forgot-password-{{suffix}}" title="Forgot your password?">Forgot your password?</a>
</form>
