<form novalidate id="register-form-{{suffix}}" class="register-form" name="form" action="" method="post" ng-submit="register()">
	<div>
		<h3>Register</h3>
	</div>
	<div class="register-rows">
		<div class="register-row">
			<input class="float-left" ng-model="firstName" id="first-name-{{suffix}}" type="text" value="" placeholder="First Name" required/>
			<input class="float-left space-left-2" ng-model="lastName" id="last-name-{{suffix}}" type="text" value="" placeholder="Last Name" required/>
		</div>
		<div class="register-row">
			<input class="float-left" ng-model="email" id="email-{{suffix}}" type="email" value="" placeholder="Email Address" required/>
			<input class="float-left space-left-2" ng-model="confirmEmail" id="confirm-email-{{suffix}}" type="email" value="" placeholder="Confirm Email Address" required/>
		</div>
		<div class="register-row">
			<input class="float-left" ng-model="password" id="password-{{suffix}}" type="password" value="" placeholder="Password" required/>
			<input class="float-left space-left-2" ng-model="confirmPassword" id="confirm-password-{{suffix}}" type="password" value="" placeholder="Confirm Password" required/>
		</div>
		<div class="register-row">
			<div class="float-left">
				<label>Country</label>
				<!-- <select id="country-{{suffix}}" ng-model="country" ng-options="c.name for c in countries"></select> -->
                <country-select id="country-{{suffix}}" ng-model="country"></country-select>
			</div>
			<div id="date-selector-{{suffix}}" class="float-left space-left-2 date-selector">
                <label>Birthdate</label>
				<select id="month-of-birth-{{suffix}}" ng-model="monthOfBirth" ng-options="n for n in [] | range:1:12:'desc'" class="float-left dob"></select>
                <select id="day-of-birth-{{suffix}}" ng-model="dayOfBirth" ng-options="n for n in [] | range:1:31:'desc'" class="float-left space-left-2 dob"></select>
				<select id="year-of-birth-{{suffix}}" ng-model="yearOfBirth" ng-options="n for n in [] | range:1930:currentYear - minLegalAge:'desc'" class="float-left space-left-2 dob"></select>
			</div>
		</div>
        <div class="register-row">
            <h6 class="register-legal-terms">Legal terms and conditions</h6>
            <label>Lorem ipsum dolor sit amet, consectetuer <a href="{{termsOfUseUrl}}" target="_blank">terms of use</a> and <a href="{{privacyPolicyUrl}}" target="_blank">privacy policy</a>.</label>
        </div>
        <div class="register-row">
            <input class="float-left" ng-model="termsAndConditions" id="terms-and-conditions-{{suffix}}" name="terms" type="checkbox" required>
            <label class="float-left space-left-1" for="terms-and-conditions-{{suffix}}">I agree and understand the terms and conditions.</label>
        </div>
        <div class="register-row">
            <input class="float-left" ng-model="newsletter" id="newsletter-{{suffix}}" name="newsletter" type="checkbox">
            <label class="float-left space-left-1" for="newsletter-{{suffix}}">Receive news & updates from Jack Ryan Movie and Lorem Ipsum, Inc.</label>
        </div>
		<div class="register-row">
			<button type="submit" id="register-{{suffix}}" ng-disabled="form.$invalid || form.$pristine" class="button">REGISTER</button>
		</div>
	</div>
</form>
